* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(7, 7, 7);
    color: rgb(255,255,255);
}

.section-heading {
    align-items: center;
    justify-content: center;
    margin-bottom: 20%;
    text-align: center;
}

.books-section {
    background-color: rgb(28, 28, 28);
    padding: 50px 40px;
}

.book-row {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
}

.book-row:nth-child(even) {
    flex-direction: row-reverse;
}

.book-image img {
    width: 300px;
}

.movies-section {
    background-color: rgb(14, 14, 14);
    padding: 50px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movie-row:nth-child(even) {
    margin: 15% 10px;
}

.movie-image img {
    width: 300px;
}